.centered {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden{
  display: none  !important;
}
.show{
  display:block !important;
}

.playBtn{
  background-image: url( '../src/icons/play-solid.svg' );
  background-repeat: no-repeat;
  height: 45px;  
  width: 45px;
  background-position:  center;
  background-color: transparent !important;
  border: none !important;
  outline: none  !important;
  box-shadow: none !important;
  
}

.pauseBtn{
  background-image: url( '../src/icons/pause-solid.svg' );
  background-repeat: no-repeat;
  height: 45px;  
  width: 45px;
  background-position:  center;
  background-color: transparent !important;
  border: none !important;
  outline: none  !important;
  box-shadow: none !important;
  
}

.prevBtn{
  background-image: url( '../src/icons/backward-solid.svg' );
  background-repeat: no-repeat;
  height: 45px;  
  width: 45px;
  background-position:  center;
  background-color: transparent !important;
  border: none !important;
  outline: none  !important;
  box-shadow: none !important;
}

.nextBtn{
  background-image: url( '../src/icons/forward-solid.svg' );
  background-repeat: no-repeat;
  height: 45px;  
  width: 45px;
  background-position:  center;
  background-color: transparent !important;
  border: none !important;
  outline: none  !important;
  box-shadow: none !important;
}
.volDownBtn{
  background-image: url( '../src/icons/volume-down-solid.svg' );
  background-repeat: no-repeat;
  height: 45px;  
  width: 45px;
  background-position:  center;
  background-color: transparent !important;
  border: none !important;
  outline: none  !important;
  box-shadow: none !important;
}
.volUpBtn{
  background-image: url( '../src/icons/volume-up-solid.svg' );
  background-repeat: no-repeat;
  height: 45px;  
  width: 45px;
  background-position:  center;
  background-color: transparent !important;
  border: none !important;
  outline: none  !important;
  box-shadow: none !important;
}
.muteBtn{
  background-image: url( '../src/icons/volume-mute-solid.svg' );
  background-repeat: no-repeat;
  height: 45px;  
  width: 45px;
  background-position:  center;
  background-color: transparent !important;
  border: none !important;
  outline: none  !important;
  box-shadow: none !important;
}



.playerBtn:active{
  opacity: 25% !important;
}

.player-border{
  border: 5px solid black;
  border-radius: 2rem;
}

.songTitle{
  padding-right: .4rem;
  padding-left: .4rem;
}